* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* custom scroll bar css*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #6E93F7;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover{
    background: #4070F4;
    border-radius: 12px;
}
/*navigation menu css*/
nav {
    position: fixed;
    width: 100%;
    font-family: 'ubuntu', sans-serif;
    padding: 20px 0;
    transition: all 0.4s ease;
    z-index: 998;
}

nav.sticky {
    padding: 13px 0;
    background: #4070F4;
}

nav .navbar {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .navbar .logo a {
    font-size: 40px;
    font-weight: 500;
    color: #4070F4;
}

nav.sticky .navbar .logo a {
    color: #fff;
}


nav .navbar .menu {
    display: flex;

}

nav .navbar .menu li {
    margin: 0 8px;
    list-style: none;

}

.navbar .menu li a {
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    transition: all 0.1s ease;
}
nav.sticky .navbar .menu li a:hover {
    color: blueviolet;

}


nav.sticky .navbar .menu li a {
    color: #fff;
}



.navbar .media-icons a {
    font-size: 18px;
    margin: 0 6px;
    color: #4070F4;
}

nav.sticky .navbar .media-icons a {
    color: #4070F4;

}

/* side Navigation menu Buttons css */
nav .menu-btn,
.navbar .cancle-btn {
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 30px;
    top: 20px;
    display: none;
    cursor: pointer;
}

nav .menu-btn {
    color: #4070F4;
}
nav.sticky .menu-btn {
    color: #fff;
}

/* Home section css */
.home {
    height: 100vh;
    width: 100%;
    background: url("../Assets/Image1.png") no-repeat center center fixed;
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'ubuntu', sans-serif;
}

.home .home-content {
    height: 100%;
    width: 90%;

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .text .text-one {
    font-size: 25px;
    color: #0E2431;
}

.home .text .text-two {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .text .text-three {
    font-size: 40px;
    color: #0E2431;
}

.home .text .text-four {
    font-size: 23px;
    margin: 5px 0;
}

.home .button {
    margin: 14px 0;
}

.home .button button {
    outline: none;
    color: #fff;
    background: #4070F4;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.home .button button:hover {
    color: #4070F4;
    background-color: #fff;
    border-color: #4070F4;
}

/* Those element where we need to apply same css there ,i will select 
"selection tag" and "class" directly
*/
/* About section css */
section{
    padding-top: 40px;
}
section .content {
    width: 80%;
    margin: 40px auto;

    font-family: 'Poppins', sans-serif;
    position: relative;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    font-size: 30px;
    font-weight: 600;

    position: relative;
}

section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #4070F4;
}

section .title span::after {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
}

.about .about-details .right {
    width: 45%;
}

.about .about-details .right img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.about .about-details .left {
    width: 55%;

}

section .topic {
    font-size: 25px;
    font-weight: 500;
    color: #0E2431;
    margin-bottom: 10px;
}

.about-details .left p {
    color: #0E2431;
    text-align: justify;


}

section .button {
    margin: 14px 0;
}

section .button button {
    outline: none;
    color: #fff;
    background: #4070F4;
    font-size: 25px;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

section .button button:hover {
    color: #4070F4;
    background-color: #fff;
    border-color: #4070F4;
}

/* My skills css */
.skills{
    background: #F0F8FF;
}
.skills .content{
    padding: 40px 0;
}
.skills .skill-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skill-details .left{
    width: 50%;
}
.skill-details .left p{
    color: #0E2431;
    text-align: justify;
}
.skill-details .left .experience{
    display: flex;
    align-items: center;
}
.skill-details .left .experience .num{
    font-size: 80px;
    font-weight: 500;
}
.skill-details .left .experience .exp{
    font-size: 18px;
    font-weight: 500;

}
.skills .skill-details .boxes{
    width: 45%;
    display: flex;
    justify-content: space-around;
    flex-flow:  wrap;
    gap: 10px;
}

.skills .skill-details .boxes .box{
    width: calc(100%/2-20px);
    
}
.skill-details .boxes .box .topic{
    font-size: 20px;
    font-weight: 500;
    color: #0E2431;
     
}
.skill-details .boxes .box .num{
    font-size: 60px;
    font-weight: 500;
    color: #4f6fca;
}
/* My services  section css */
.services .boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services .boxes .box{
   /* width: calc(100% / 3-20px);*/
    width: 32%;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.15) ;
    text-align: center;
    padding: 20px 10px;
}
.services .boxes .box:hover{
    background: #4070F4;
    color: #000;
}
.services .boxes .box .icon{
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background: #4070F4;
    line-height: 50px;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.services .boxes .box:hover .icon{
    background: #fff;
    color: #4070F4;
}
.services .boxes .box:hover .topic{
    color: #fff;
}
/* Contact Me css */
.contact{
     background: #F0F8FF;
     padding: 20px 0;
}
.contact .text{
    text-align: center;
    margin: auto;
    width: 80%;
}
/* footer css */
footer {
  background: #4070F4;
  text-align: center;
  padding: 15px 0;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer .text span{
     color: #fff;
     font-size: 17px;
     font-weight: 500;
}
footer .text span a{
     color: #fff;
     font-size: 17px;
     font-weight: 500;
}
footer .text span a:hover{
     text-decoration: underline;
     
}

.scroll-btn i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 2px 4px 2px 4px ;
    background: #4070F4;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.15);
}





/* Responsive Media Query css  */
@media (max-width:1190px) {
    .about .content {
        width: 85%;
    }
    .skills .content {
        width: 90%;
    }
    .services .content {
        width: 90%;
    }
}

@media (max-width:1190px) {
    .about .about-details {
        flex-direction: column;

    }

    .about .about-details .right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about .about-details .left {
        width: 90%;
        margin: 40px 0;
    }
    .services .boxes .box{
        width: calc(100% / 2 -20px);
    }
    .contact .text{
    
    width: 90%;
}
}

@media (max-width:971px) {
    .about .about-details .right img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 12px;
    }
}

@media (max-width:750px) {
    nav .navbar .menu {
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background: #0E2431;
        flex-direction: column;
        align-items: center;

        padding-top: 60px;
        transition: all 0.5s ease;
    }

    nav .navbar.active .menu {
        left: 0;
    }

    .navbar .menu li a {
        display: block;
        font-size: 23px;
        margin: 10px 0;
        color: #fff;
    }

    .navbar .media-icons a {
        display: none;
    }

    nav .menu-btn,
    .navbar .cancle-btn {
        display: block;
    }

    .home .text .text-two {
        font-size: 65px;

    }

    .home .text .text-three {
        font-size: 35px;
    }
    .skills .skill-details{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.skills .skill-details .left{
    width: 90%;
}
.skills .skill-details .boxes{
    width: 90%;
    margin: 40px 0;
}
 .contact .text{
    
    width: 100%;
}

}

@media(max-width:510px) {
    .home .text .text-two {
        font-size: 55px;

    }

    .home .text .text-three {
        font-size: 33px;
    }

}